/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*/
@keyframes kfblink {
  from {
    background-color: #aaffaa; } }

* {
  box-sizing: border-box; }

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 10pt; }
  body h1 {
    text-align: center; }
  body nav {
    position: sticky;
    background: #ccc;
    border-bottom: 4px solid #6c7ae0;
    margin: 1em 0; }
    body nav ul {
      margin: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      padding: 0; }
      body nav ul li {
        cursor: pointer;
        padding: 1em 1em;
        flex: auto;
        text-align: center; }
        body nav ul li a {
          text-decoration: none;
          color: inherit; }
        body nav ul li:hover {
          background-color: #6c7ae0;
          color: white; }
  body.readonly #editmode {
    display: block; }
  body.readonly table#list > thead > tr > th:first-child {
    width: 10px; }
  body.readonly #newaction {
    display: none; }

#editmode {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background-color: red;
  color: white;
  display: none; }

table#list {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15); }
  table#list thead > tr {
    background-color: #6c7ae0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    table#list thead > tr th {
      color: white;
      font-weight: bold;
      font-size: 120%;
      text-align: left; }
      table#list thead > tr th a {
        text-decoration: none;
        color: inherit; }
    table#list thead > tr th:first-child {
      border-top-left-radius: 10px; }
    table#list thead > tr th:last-child {
      border-top-right-radius: 10px; }
    table#list thead > tr th:first-child {
      width: 5em; }
    table#list thead > tr th:nth-child(3) {
      width: 15%; }
    table#list thead > tr th:nth-child(4) {
      width: 10%; }
    table#list thead > tr th:nth-child(5) {
      width: 10%; }
    table#list thead > tr th:nth-child(6) {
      width: 10%; }
    table#list thead > tr th:nth-child(7) {
      width: 20%; }
  table#list th, table#list td {
    padding: 0.8em 0.5em 0.8em 0.5em; }
  table#list tbody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    table#list tbody tr:nth-child(even) {
      background-color: #b6bdf0; }
    table#list tbody tr:last-child td:first-child {
      border-bottom-left-radius: 10px; }
    table#list tbody tr:last-child td:last-child {
      border-bottom-right-radius: 10px; }
    table#list tbody tr.blink {
      animation: 2s ease-in 1s 1 normal both running kfblink; }
  table#list button {
    width: 2.1em;
    height: 2.1em;
    margin: 0.1em;
    padding: 0;
    border: 1px solid #3548d4;
    border-radius: 2px;
    background-color: #6c7ae0; }
    table#list button:hover {
      background-color: #3548d4;
      box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3); }

#overlay {
  position: fixed;
  display: none;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity 1s ease-in-out; }

#editor, #filters {
  z-index: 20;
  display: none;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40em;
  max-width: 100%;
  background-color: #6c7ae0;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid white;
  transition: max-height 1s ease-in-out;
  overflow: hidden; }
  #editor form.task ul, #filters form.task ul {
    list-style-type: none;
    padding-left: 0; }
    #editor form.task ul li, #filters form.task ul li {
      margin-bottom: 0.5em; }
      #editor form.task ul li label:first-child, #filters form.task ul li label:first-child {
        display: inline-block;
        width: 25%; }
      #editor form.task ul li input[type="text"], #editor form.task ul li input[type="date"], #editor form.task ul li select, #filters form.task ul li input[type="text"], #filters form.task ul li input[type="date"], #filters form.task ul li select {
        width: 70%;
        height: 2.5em;
        background-color: #3548d4;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        padding: 0.1em 0.5em; }
        #editor form.task ul li input[type="text"]:hover, #editor form.task ul li input[type="text"]:focus, #editor form.task ul li input[type="date"]:hover, #editor form.task ul li input[type="date"]:focus, #editor form.task ul li select:hover, #editor form.task ul li select:focus, #filters form.task ul li input[type="text"]:hover, #filters form.task ul li input[type="text"]:focus, #filters form.task ul li input[type="date"]:hover, #filters form.task ul li input[type="date"]:focus, #filters form.task ul li select:hover, #filters form.task ul li select:focus {
          background-color: #1d2a89; }
      #editor form.task ul li input[type="checkbox"], #filters form.task ul li input[type="checkbox"] {
        margin: 0 0.5em 0 0.5em;
        transform: scale(1.5); }
      #editor form.task ul li select, #filters form.task ul li select {
        border-width: 1px; }
      #editor form.task ul li.onrow, #filters form.task ul li.onrow {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between; }
        #editor form.task ul li.onrow div > *, #filters form.task ul li.onrow div > * {
          vertical-align: middle; }
  #editor form.task div.buttons, #filters form.task div.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
  #editor button, #filters button {
    background-color: #ff9f39;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em 0.3em;
    width: 40%;
    font-weight: bold;
    cursor: pointer; }
    #editor button:focus, #filters button:focus {
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5); }

.simpleform {
  text-align: center; }
  .simpleform form {
    margin: auto; }
  .simpleform input[type="text"] {
    height: 2em;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    margin: 0.2em 0.1em; }
